.background{
    height:100%;
    width:100%;
    background-color: white;
    display: flex;
    justify-content: center;
    padding-top: min(5em, 10%);
    flex-wrap: wrap;
}

.background .mainbox{
    width:80%;
    height:80%;
    background-color: #0A192F;
    border: 1px solid grey;
    color: #E2E8F0;
    border-radius: 10px;
    display: flex; 
    flex-direction: row;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    flex-wrap: wrap;
}

.mainbox:hover{
    border: 2px solid #3B82F6;
}
 .box1 {
    display: flex;
    flex-direction: column;
    width:50%;
    height:100%;
    justify-content: center;
    align-items: center;
    }

.box2{
    width:50%;
    height:100%;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    /*background-image: url("../../assets/images/Profile1.png"); */
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-color: white;
}
.box2 .profilepic{
    width:100%;
    height:100%;
    object-fit: cover;
}
.text{
    width: 60%;
}

.skillslist{
    display: flex;
    flex-direction: column;
}
.skillsgallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10%;
}

.skillsgallery .skillsimage{
    height:auto;
    width:15%;
}
@media (max-width:762px) {
    .background{
    height:100%;
    width:100%;
    background-color: white;
    display: flex;
    justify-content: center;
    padding-top: min(5em, 10%);
    flex-wrap: wrap;
    }

    .background .mainbox{
    width:80%;
    height:80%;
    background-color: #0A192F;
    border: .15rem solid grey;
    color: #E2E8F0;
    border-radius: 10px;
    display: flex; 
    flex-direction: row;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    flex-wrap: wrap;
    }
    .mainbox:hover{
    border: 2px solid #3B82F6;
    }
     .box1 {
    display: flex;
    flex-direction: column;
    width:50%;
    height:100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: clamp(.4rem, 4vw, .6rem);
    }
    .box2{
    width:50%;
    height:100%;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    /*background-image: url("../../assets/images/Profile1.png"); */
    background-size: cover;
    background-position: center;
    overflow: hidden;
    }
    .box2 .profilepic{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: 45% center;
    }   
    .text{
    width: 60%;
    }

    .skillslist{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .skillsgallery{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: .6rem;
    }
    
    .skillsgallery .skillsimage{
        height:2rem;
        width:2rem;
    }
}