.projectpage{
    display: flex;
    height:100%;
    width:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.projectlist{
    display: flex;
    height:80%;
    width:100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.projectlist .mainbox{
    width:80%;
    max-height: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.4) 0%,   /* light reflection */
    rgba(255, 255, 255, 0.1) 40%,  /* soft fade */
    rgba(255, 255, 255, 0) 100%    /* transparent base */
  ),
  #0A192F; /* base color */
    color: #E2E8F0;
}


.titlebox {
    width:10%
}

.description{
    width:30%;
    font-size: clamp(.8rem, 8vw, 1rem);
}

.projectpage .switch{
    width:30%;
    background: #0A192F;
    color: #E2E8F0;
    display: flex;
    justify-items: space-evenly;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    border-radius: 25px;
    border: 2px solid #000;
}

.projectpage .switch span {
  flex: 1;
  text-align: center;
  font-weight: 600;
  padding: 10px 0;
  transition: background 0.8s ease, color 0.8s ease;
}

/* Active is dark (black), inactive is light (white) */
.active {
  background: #0A192F;
  color: #fff;
}

.inactive {
  background: #fff;
  color: #0A192F;
}
