#root {
  background-color: white;
  width: 100%;
  height:100%;
}

.hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-size: clamp(.8rem, 8vw, 1rem);
}
.hero .pages{
  height: 100%;
  width:100%;
  padding-top: 80px;
}